DB_NAME=tax_db
DB_USER=
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

# Этот ключ используется для криптографической подписи (например, JWT-токенов).
# Он должен быть уникальным и храниться в секрете.
# Для генерации нового ключа выполните команду в терминале:
# python -c 'from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())'
SECRET_KEY=